<!--title-->
<div class="row">
  <div class="col-12">
    <div class="page-title">
      <div class="container"><h2 class="font-weight-light text-center mb-3">Profil</h2></div>
    </div>
  </div>
</div>
<!--end title-->

<!--content-->
<div class="row">
  <div class="col-12">
      <div class="card-body">
        <div class="container">

          <div class="row">
            <div class="col-6 mt-3">

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">Pseudo</span>
                </div>
                <input type="text" class="form-control" required aria-label="Pseudo" value="{{user.pseudo}}" disabled>
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">Mail</span>
                </div>
                <input type="text" class="form-control" aria-label="Mail" value="{{user.mail}}" [(ngModel)]="mail" name="mail">
              </div>

            </div>

            <div class="col-6 mt-3">
              <div class="input-group mb-4 ">
                <div class="input-group-prepend">
                  <span class="input-group-text">Prénom</span>
                </div>
                <input type="text" class="form-control" aria-label="FirstName" value="{{user.prenom}}" [(ngModel)]="prenom" name="prenom">
              </div>


              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nom</span>
                </div>
                <input type="text" class="form-control" aria-label="Name" value="{{user.nom}}" [(ngModel)]="nom" name="nom">
              </div>

            </div>

            <div class="col-lg-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Description</span>
                </div>
                <textarea  type="text" class="form-control" aria-label="Description" value="{{user.description}}" [(ngModel)]="description" name="description"></textarea>
              </div>
            </div>

          </div>

          <div class="row justify-content-md-center">

            <div class="mt-5 ">
              <a  (click)="saveUser()"   role="button" aria-pressed="true" class="btn btn-lg btn-outline-secondary mr-3 ">Enregistrer</a>
              <a href="../accueil/myEvent" type="button" aria-pressed="true" class="btn btn-lg btn-outline-secondary mr-3">Mes évènements</a>
              <a href="../accueil/myEvent" type="button" aria-pressed="true" class="btn btn-lg btn-outline-secondary ">Mon historique</a>
            </div>

          </div>

        </div>
      </div>
  </div>
</div>
<!--end content-->



