<div class="clearfix m-4">
  <button (click)="moveAccueil()" style="background-color: white; border: 0px">
    <img class="img d-inline m-1" src="assets/images/icon.png">
    <h1 class="d-inline align-middle m-2" >Meeting Planner</h1>
  </button>

  <div class="float-right" *ngIf="isConnected() != null">
    <a href="/titre-evenement" class="btn btn-outline-primary btn-lg">Créer un évènement</a>
    <a href="/profil"><img class="img profil m-1 " src="./assets/images/profil.png"></a>
    <a href="/logout" ><img class="img log_out m-1" src="./assets/images/log_out.png"></a>
  </div>
</div>
