/*table*/
/*{*/
/*  border-collapse: collapse;*/
/*}*/
/*td*/
/*{*/
/*  border: 2px solid #6b7dff;*/
/*}*/

/*p*/
/*{*/
/*  font-size: 0.7em;*/
/*}*/
/*h1*/
/* {*/
/*   font-size: 1.6em;*/
/* }*/
/*h2*/
/*{*/
/*  font-size: 2.1em;*/
/*}*/
/*h3*/
/*{*/
/*  style:"color:#FF0500";*/
/*}*/


.header .btn{
  height: 55px;
  margin-left: 80rem;
}
