<!--title-->
<div class="row">
  <div class="col-12">
    <div class="page-title">
      <div class="container"><h2 class="font-weight-light text-center mb-5 mt-5">Calendrier</h2></div>
    </div>
  </div>
</div>
<!--end title-->

<!--content-->
<div class="row mt-3" *ngIf="dataLoaded | async">
  <div class="col-12">
    <div class="card-body">
      <div class="container">
        <table class="table table-hover">
          <thead  class="thead-dark">
            <tr >
              <th scope="col">Invités</th>
              <th scope="col" *ngFor="let creneau of creneaux" style="text-align: center;">  {{getDate(creneau.date)}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{user.pseudo}}</th>
              <td *ngFor="let creneau of creneaux; let i = index">
                <div class="custom-control custom-checkbox text-center"*ngIf="currentUser._id == user._id && event.dateCloture == null">
                  <input type="checkbox" class="custom-control-input" id="customCheck{{i}}"  [(ngModel)]="values[i]">
                  <label class="custom-control-label" for="customCheck{{i}}"></label>
                </div>
                <div class="text-center" *ngIf="currentUser._id != user._id || event.dateCloture != null">

                  {{this.getReponseParticipe(user._id, creneau._id)}}

                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-md-center">
          <a (click)="saveParticipes()" role="button" aria-pressed="true" class="btn btn-lg btn-outline-secondary mr-3 ">Enregistrer</a>
        </div>
      </div>
    </div>
  </div>
</div>




