
<!--title-->
<div class="row">
  <div class="col-12">
    <div class="page-title">
      <div class="container"><h2 class="font-weight-light text-center mb-3">Création évènement - invitations</h2></div>
    </div>
  </div>
</div>
<!--end title-->

<!--content-->
<div class="container">
  <h5 class="font-weight-light font-italic mt-3 mb-3 text-center">Les utilisateurs suivants recevront une notification pour votre événement </h5>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

<!--      <form [formGroup]="form" (ngSubmit)="submit()">-->
<!--      <div class="input-group mb-3 mt-3" formArrayName="pseudo" *ngFor="let p of pseudos; let i = index">-->
<!--        <div class="input-group-prepend">-->
<!--          <span class="input-group-text">@</span>-->
<!--        </div>-->
<!--        <div [formControlName]="i">-->
<!--          <input type="text" class="form-control" [(ngModel)]="pseudos[i]" aria-describedby="basic-addon1" id="{{i}}">-->
<!--        </div>-->
<!--      </div>-->
<!--      </form>-->

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="input-group mb-3 mt-3" formArrayName="items"
             *ngFor="let item of formData.controls; let i = index">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <div [formGroupName]="i" class="" style="Width:calc(100% - 45px)">
            <input type="text" class="form-control" formControlName='pseudo'>
          </div>
        </div>

        <button type="button" class="btn btn-light" (click)="addNext()">Ajouter une invitation</button>
        <div class="row d-flex justify-content-center">
          <button type="submit" class="btn text-center  btn-outline-secondary btn-lg mb-2 mt-3" aria-pressed="true">Envoyer</button>
        </div>

      </form>

<!--      <button type="button" class="btn btn-light" (click)="AddInvit()">Ajouter une invitation</button>-->
<!--      <div class="row d-flex justify-content-center">-->
<!--        <a (click)="Envoyer()" class="btn text-center  btn-outline-secondary btn-lg mb-2 mt-3" role="button" aria-pressed="true">Envoyer</a>-->
<!--      </div>-->
    </div>

    <div class="col-lg-3"></div>

  </div>



</div>

<!--end content-->
