.header .profil{
  height: 55px;
  margin-left: 90rem;
}

/*centrer le date date picker*/
.datepicker{
  text-align: center;
}

/*centrer verticalement bouton +*/
/*.card a{*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/
