<!--title-->
<div class="row">
  <div class="col-12">
    <div class="page-title">

      <div class="container"><h2 class="font-weight-light text-center mb-5 mt-5">Création évènement - choix des dates</h2></div>

    </div>
  </div>
</div>
<!--end title-->

<!--content-->
<div class="container datepicker mt-3">

  <div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">

        <h4 class="font-weight-light mt-3 mb-3 ">Choisir la date et l'heure de l'évènement :</h4>

        <label class="mt-3" style="width: 55%;">
          <input placeholder="Choisir une date"
                 [min]="dayDate"
                 [(ngModel)]="dateTime"
                 [owlDateTimeTrigger]="dt" [owlDateTime]="dt" style="width: 100%;">
          <owl-date-time #dt></owl-date-time>
        </label>

    </div>

    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">
      <a  (click)="createDate()" type="button" class="btn btn-outline-primary mt-5">Confirmer ce créneau</a>

    </div>

    <div class="col-lg-3"></div>
  </div>

<!--  card-->
<div class="card border-light mb-3 mt-5" *ngFor="let creneau of creneaux; let i = index" >
  <div class="card-header">{{getDate(creneau.date)}}</div>
    <div class="row">
        <div class="card-body text-secondary ">
          <h5 class="card-title">{{creneau.evenement.titre}}</h5>
          <p class="card-text">{{creneau.evenement.description}}</p>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <a (click)="cancel(creneau._id, i)" class="btn  btn-outline-secondary mb-2" role="button" aria-pressed="true">Annuler ce créneau</a>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>

  <div class="row d-flex justify-content-center" *ngIf="creneaux[0] != null">
    <a (click)="goInvitation()" class="btn text-center  btn-outline-primary btn-lg mb-2 mt-3" role="button" aria-pressed="true">Envoyer les invitations</a>
  </div>

</div>





<!--end content-->
