<!--<div class="row">-->
<!--  <div class="col-3">Menu-->
<!--    <button class="btn btn-primary col-12" routerLink="accueil">Accueil</button>-->
<!--    <button class="btn btn-primary col-12" routerLink="contact">Contact</button>-->
<!--  </div>-->
<!--  <div class="col-8">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->
<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
