<!--title-->
<div class="row">
  <div class="col-12">
    <div class="page-title">
      <div class="container"><h2 class="font-weight-light text-center mb-3">Création évènement - description</h2></div>

    </div>
  </div>
</div>
<!--end title-->

<!--content-->

<div class="container">
  <h4 class="font-weight-light mt-3 mb-3">Quel type d'évènement ?</h4>

  <div class="row">
    <div class="col-lg-4 mt-3 mb-3">
      <div class="card" style="width: 18rem; height: 9rem;">
        <a class="card-body btn-outline-secondary btn" *ngIf="selectedCard != '5ecbbadb87e0b228405ecfa9'" (click)="selectCard('5ecbbadb87e0b228405ecfa9')">
          <h5 class="card-title font-weight-bold">PRO</h5>
          <p class="card-text">Vous souhaitez organiser un évènement de type professionel</p>
        </a>
        <a class="card-body btn-outline-secondary btn active" *ngIf="selectedCard == '5ecbbadb87e0b228405ecfa9'" (click)="selectCard('5ecbbadb87e0b228405ecfa9')">
          <h5 class="card-title font-weight-bold">PRO</h5>
          <p class="card-text">Vous souhaitez organiser un évènement de type professionel</p>
        </a>
      </div>
    </div>

    <div class="col-lg-4 mt-3 mb-3">
      <div class="card" style="width: 18rem; height: 9rem;">
        <a class="card-body btn-outline-secondary btn " *ngIf="selectedCard != '5ecbbae587e0b228405ecfaa'"  (click)="selectCard('5ecbbae587e0b228405ecfaa')">
          <h5 class="card-title font-weight-bold">LOISIR</h5>
          <p class="card-text">Vous souhaitez organiser un évènement entre amis</p>
        </a>
        <a class="card-body btn-outline-secondary btn active" *ngIf="selectedCard == '5ecbbae587e0b228405ecfaa'"  (click)="selectCard('5ecbbae587e0b228405ecfaa')">
          <h5 class="card-title font-weight-bold">LOISIR</h5>
          <p class="card-text">Vous souhaitez organiser un évènement entre amis</p>
        </a>
      </div>
    </div>

    <div class="col-lg-4 mt-3 mb-3">
      <div class="card" style="width: 18rem; height: 9rem;">
        <a class="card-body btn-outline-secondary btn" *ngIf="selectedCard != '5ecbbaec87e0b228405ecfab'" (click)="selectCard('5ecbbaec87e0b228405ecfab')">
          <h5 class="card-title font-weight-bold">DISTANCE</h5>
          <p class="card-text">Vous souaitez organiser une évènement en distance</p>
        </a>
        <a class="card-body btn-outline-secondary btn active" *ngIf="selectedCard == '5ecbbaec87e0b228405ecfab'" (click)="selectCard('5ecbbaec87e0b228405ecfab')">
        <h5 class="card-title font-weight-bold">DISTANCE</h5>
        <p class="card-text">Vous souaitez organiser une évènement en distance</p>
        </a>
      </div>
    </div>

  </div>

  <h4 class="font-weight-light mt-3 mb-3">Titre de l'évènement</h4>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-8 mt-3">

      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text">Titre *</span>
        </div>
        <input type="text" class="form-control"  aria-label="title" [(ngModel)]="titre">
      </div>

      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea type="text" class="form-control" aria-label="Description" [(ngModel)]="description"></textarea>
      </div>
    </div>
    <div class="col-lg-2"></div>

    <div class="row mx-auto">

      <div class="mt-5 ">
        <a (click)="create()" role="button" aria-pressed="true" class="btn btn-outline-secondary mr-3 btn-lg ">Sélectionner les dates</a>
      </div>

    </div>
</div>


<!--end contente-->
