<h1 class="font-weight-light text-center mb-5 mt-5 page-title">Connexion</h1>
<div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="input-group ml-50 mt-3">

           <div class="input-group-prepend">

              <span class="input-group-text" id="basic-addon1">@</span>
           </div>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="Username" [(ngModel)]="Username" name="Username">
           <a type="button" class="btn btn-light" (click)="connexion()">Connexion</a>
        </div>
      </div>
      <div class="col-lg-3"></div>

    </div>
</div>
