/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
.img{
  height: 60px;
  margin-left: 9rem;
}

.breadcrumb{
  background-color: white!important;
}

.item1{
  margin-left:112rem;
}


