<!--title-->
<div class="row">
  <div class="col-12">
    <div class="page-title">
      <div class="container"><h2 class="font-weight-light text-center mb-3">Fin d'un évènement</h2></div>

    </div>
  </div>
</div>
<!--end title-->

<!--content-->
<div class="container">
  <h4 class="font-weight-light mt-3 mb-3">{{event.titre}}</h4>
  <p>{{event.description}}</p>

  <h4 class="font-weight-light mt-5 mb-3">CRENEAUX :</h4>

<!--  carte 1-->
  <div class="card border-light mb-3 mt-5 text-center" *ngFor="let objectCreneau of creneauxSortNbParticipe">
    <div class="card-header">{{getDate(objectCreneau.creneau.date)}}</div>
    <div class="row">
      <div class="card-body text-secondary ">
        <p class="card-text">vote pour : {{objectCreneau.nbParticipe}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <a (click)="updateDate(event, objectCreneau.creneau.date)" class="btn  btn-outline-secondary mb-2" role="button" aria-pressed="true">Choisir cette date</a>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
<!--  fin carte 1-->
  <div class="row justify-content-md-center">
    <a href="/accueil/all"  role="button" aria-pressed="true" class="btn btn-lg btn-outline-secondary mr-3 active">Annuler</a>
  </div>


</div>
<!--end content-->
