<!--title-->
<div class="row ">
  <div class="col-12">

      <div class="container page-title"><h2 class="font-weight-light text-center mb-3 ">Evènements</h2></div>

  </div>
</div>
<!--end title-->

  <!-- body -->
<body>
  <div class="container ">
    <div class="mt-3">
      <form>
        <div class="text-center mt-5 mb-3">
          <a href="/accueil/all"  role="button" aria-pressed="true" *ngIf="option == 'all'" class="btn btn-lg btn-outline-secondary mr-3 active">Tous les évènements</a>
          <a href="/accueil/all"  role="button" aria-pressed="true" *ngIf="option != 'all'" class="btn btn-lg btn-outline-secondary mr-3">Tous les évènements</a>
          <a href="/accueil/myEvent" role="button" aria-pressed="true" *ngIf="option == 'myEvent'" class="btn btn-lg btn-outline-secondary mr-3 active">Mes évènements</a>
          <a href="/accueil/myEvent" role="button" aria-pressed="true" *ngIf="option != 'myEvent'" class="btn btn-lg btn-outline-secondary mr-3">Mes évènements</a>
          <a href="/accueil/myInvite"  role="button" aria-pressed="true" *ngIf="option == 'myInvite'" class="btn btn-lg btn-outline-secondary mr-3 active">Mes invitations</a>
          <a href="/accueil/myInvite"  role="button" aria-pressed="true" *ngIf="option != 'myInvite'" class="btn btn-lg btn-outline-secondary mr-3">Mes invitations</a>
          <a href="/accueil/myHistory"  role="button" aria-pressed="true" *ngIf="option == 'myHistory'" class="btn btn-lg btn-outline-secondary mr-3 active">Mon historique</a>
          <a href="/accueil/myHistory"  role="button" aria-pressed="true" *ngIf="option != 'myHistory'" class="btn btn-lg btn-outline-secondary mr-3">Mon historique</a>
        </div>

        <div *ngFor="let event of events">
            <!--  template d'une carte -->
          <div class="card border-light  mb-3 mt-5 text-center" >
            <div class="card-header">
              <div *ngIf="user._id == event.createur; else elseTitle">{{event.titre}} - Créateur </div>
              <ng-template class="card-header" #elseTitle>{{event.titre}} - Invitation</ng-template>
            </div>

            <div class="row">
              <div class="card-body text-secondary ">
                <h5 class="card-title">{{event.description}}</h5>
                <p class="card-text"></p>
              </div>
            </div>

            <div class="text-center">
                <a (click)="deleteEvent(event)" class="btn d-inline btn-outline-secondary mb-2 mr-3" role="button" aria-pressed="true" *ngIf="user._id == event.createur">Supprimer</a>
                <a href="/cloture-evenement/{{event._id}}" class="btn d-inline btn-outline-secondary mb-2 mr-3" role="button" aria-pressed="true" *ngIf="user._id == event.createur && event.dateCloture == null">Clôturer</a>
                <a href="/calendrier/{{event._id}}" class="btn d-inline btn-outline-secondary mb-2 mr-3" role="button" aria-pressed="true" *ngIf="event.dateCloture == null">Participer</a>
                <a href="/calendrier/{{event._id}}" class="btn d-inline btn-outline-secondary mb-2 mr-3" role="button" aria-pressed="true" *ngIf="event.dateCloture != null">Voir</a>
            </div>
          </div>
        </div>

      </form>
    </div>

  </div>
</body>
